<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/misadopciones"></ion-back-button>
    </ion-buttons>
    <ion-title>Modificar Adopción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-title class="form-title">Modificar Adopción</ion-title>
    <form [formGroup]="adopcionForm" (ngSubmit)="onSubmit()">
      <!-- Campos del formulario -->
      <ion-item>
        <ion-label position="floating">Tipo de Mascota</ion-label>
        <ion-select formControlName="tipoMascota" required>
          <ion-select-option value="perro">Perro</ion-select-option>
          <ion-select-option value="gato">Gato</ion-select-option>
          <ion-select-option value="otro">Otro</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Tamaño</ion-label>
        <ion-select formControlName="tamano" required>
          <ion-select-option value="pequeño">Pequeño</ion-select-option>
          <ion-select-option value="mediano">Mediano</ion-select-option>
          <ion-select-option value="grande">Grande</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Edad</ion-label>
        <ion-input formControlName="edad" type="number" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Sexo</ion-label>
        <ion-select formControlName="sexo" required>
          <ion-select-option value="macho">Macho</ion-select-option>
          <ion-select-option value="hembra">Hembra</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Raza</ion-label>
        <ion-input formControlName="raza" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Color</ion-label>
        <ion-input formControlName="color" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-textarea formControlName="descripcion"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating">URL de la imagen</ion-label>
        <ion-input formControlName="url" required></ion-input>
      </ion-item>

      <footer>
        <ion-button expand="full" type="submit" [disabled]="!adopcionForm.valid">Aceptar</ion-button>
        <ion-button expand="full" class="btn-clear" (click)="onClear()">Cancelar</ion-button>
      </footer>
    </form>
  </ion-card>
</ion-content>
