<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>PatitasEnCasAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-container" >
    <ion-card class="pet-adopt-card">
      <ion-img src="https://th.bing.com/th/id/OIP.ayAmwV0sx7bGRTEYuHWOuAHaE8?rs=1&pid=ImgDetMain" class="pet-image"></ion-img>
      <ion-card-header>
        <ion-card-title>Rex</ion-card-title>
        <ion-card-subtitle>Perro</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Edad:</strong> 3 años</p>
        <p><strong>Raza:</strong> Labrador</p>
        <p><strong>Color:</strong> Marrón</p>
        <p><strong>Vacunas:</strong> Vacunas al día, incluyendo rabia, parvovirus y moquillo</p>
        <p>Rex es un perro amigable y enérgico que busca un hogar amoroso. ¡Adóptalo y dale una segunda oportunidad!</p>
      </ion-card-content>
      <ion-footer>
        <ion-button expand="full" class="adopt-button">Adoptar</ion-button>
      </ion-footer>
    </ion-card>

    <!-- Contenedor para el botón cuadrado de QR -->
    <div class="qr-button-container">
      <ion-button class="qr-button">
        <ion-icon name="qr-code-outline"></ion-icon>
      </ion-button>
      <p class="qr-button-text">Crear QR</p>
    </div>

    <!-- Aquí se mostrará el QR generado -->
    <div class="qr-code-container">
      <!-- Coloca aquí el código QR generado -->
    </div>
  </div>
</ion-content>
