<ion-content>
  <div class="container">
    <ion-card>
      <ion-title class="form-title">Restablecer Contraseña</ion-title>
      <form (ngSubmit)="onSubmit()">
        <!-- Campo de entrada de correo electrónico -->
        <ion-item lines="full">
          <ion-icon name="mail-outline" slot="start" aria-label="Correo"></ion-icon>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input 
            type="email" 
            [(ngModel)]="email" 
            name="email" 
            required
            aria-label="Correo Electrónico">
          </ion-input>
        </ion-item>

        <!-- Mensaje de error si el correo no es válido -->
        <ion-text color="danger" *ngIf="email && !isValidEmail(email)">
          Por favor, introduce un correo válido.
        </ion-text>

        <!-- Botón de envío con indicador de carga -->
        <ion-button expand="block" type="submit" class="reset-button" [disabled]="loading || !isValidEmail(email)">
          <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
          <span *ngIf="!loading">Enviar Correo de Restablecimiento</span>
        </ion-button>
      </form>

      <!-- Enlace para regresar a la página de inicio de sesión -->
      <div class="extra-options">
        <p><a routerLink="/login">Volver al inicio de sesión</a></p>
      </div>
    </ion-card>
  </div>
</ion-content>