<ion-header>
  <ion-toolbar color="success">
    <ion-title style="color: white;">Oops... ¡Página no encontrada!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding not-found-page">
  <div class="not-found-container">
    <img src="assets/imgs/paw.png" alt="Patita en casa" class="not-found-logo" />
    <h1>404</h1>
    <p>Lo sentimos, parece que esta página está perdida... igual que un gatito sin hogar.</p>
    <ion-button expand="block" color="success" routerLink="/home">
      🏠 Regresar a casa
    </ion-button>
  </div>
</ion-content>
