<ion-content>
  <div class="container">
    <div class="logo">
      <ion-img src="assets/imgs/paw.png"></ion-img> <!-- Imagen de la huella -->
      <h2 class="app-title">PatitasEnCasAPP</h2>
    </div>
    <ion-card>
      <ion-title>Inicio de Sesión</ion-title>

      <ion-item>
        <ion-label position="stacked">Usuario</ion-label>
        <ion-input [(ngModel)]="username" type="text" placeholder="Ingresa tu usuario"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input [(ngModel)]="password" type="password" placeholder="Ingresa tu contraseña"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="login()">Ingresar</ion-button>

      <div class="extra-options">
        <p>¿Olvidaste tu contraseña?</p>
        <p>¿Nuevo aquí? <a (click)="register()">Regístrate</a></p>
      </div>
    </ion-card>
  </div>
</ion-content>
