<ion-header class="header">
  <ion-toolbar>
    <ion-title>PatitasEnCasAPP</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="paw"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- Sección de filtros -->
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedFilter" (ionChange)="filterPets()">
      <ion-segment-button value="all">Todos</ion-segment-button>
      <ion-segment-button value="perro">
        <ion-icon name="paw" class="filter-icon"></ion-icon>
        Perros
      </ion-segment-button>
      <ion-segment-button value="gato">
        <ion-icon name="logo-octocat" class="filter-icon"></ion-icon>
        Gatos
      </ion-segment-button>
      <ion-segment-button value="otro">
        <ion-icon name="leaf" class="filter-icon"></ion-icon>
        Otros
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="welcome-container">
    <div class="welcome-message">
      ¡Bienvenido, {{ username }}!
    </div>
  </div>

  <div class="dog-container">
    <img class="animated-dog" src="" alt="Perro animado" />
  </div>
  
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let pet of filteredPets">
        <ion-card class="pet-card">
          <ion-img [src]="pet.image"></ion-img>
          <ion-card-header>
            <ion-card-title>{{ pet.nombre }}</ion-card-title>
            <ion-card-subtitle>{{ pet.tipoMascota }}, {{ pet.edad }} años</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{ pet.descripcion }}
          </ion-card-content>
          <div class="button-container">
            <ion-button expand="full" class="details-button" color="green" [routerLink]="['/detalle']">Detalles</ion-button>
            <ion-button expand="full" class="adopt-button">Adoptar</ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<footer class="footer">
  <ion-button [routerLink]="['/crearadopcion']">
    <ion-icon name="add-circle-outline"></ion-icon>
    Crear Adopción
  </ion-button>
  <ion-button (click)="readQR()">
    <ion-icon name="qr-code-outline"></ion-icon>
    Leer QR
  </ion-button>
</footer>
