<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis Adopciones</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-container">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let adopcion of misAdopciones">
        <ion-card class="adoption-card">
          <ion-img [src]="adopcion.urlImagen" alt="Imagen de {{ adopcion.nombre }}"></ion-img>
          <ion-card-header>
            <ion-card-title>{{ adopcion.nombre || 'Sin nombre' }}</ion-card-title>
            <ion-card-subtitle>{{ adopcion.tipoMascota }}</ion-card-subtitle>
          </ion-card-header>
          <div class="button-container">
            <ion-button color="primary" expand="block" (click)="editAdopcion(adopcion)">
              <ion-icon name="create-outline" slot="start"></ion-icon> Modificar
            </ion-button>
            <ion-button color="danger" expand="block" (click)="deleteAdopcion(adopcion.id)">
              <ion-icon name="trash-outline" slot="start"></ion-icon> Eliminar
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
